@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F5DC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #F5F5DC;
}

/*navBar*/

.nav-logged-out {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  gap: 1400px;
  width: 100%;
  list-style: none; 
  position: relative;
  margin-top: 0px;
  margin-bottom: 0;
  background-color: #355E3B;
}

.link {
  display: flex;
  padding: 6px;
  margin-top: 9px;
  margin-right: 10px;
  color: #242424;
  text-decoration: none;
  color: #ffffff;
}

.ul-logged-out {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
}

.nav-title {
  display: flex;
  margin-top: 6px;
  color: #ffffff;
  margin-left: 15px;
}

/*homepage*/ 
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 140px;
}

.home h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.home-link ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  margin: 75px;
}

.home-link li {
  margin: 0 10px;
  position: relative;
}

.home-link li::after {
  content: '|';
  position: absolute;
  right: -10px;
  color: #242424;
}

.home-link li:last-child::after {
  content: '';
}

.home-link a {
  color: #242424;
}

.img {
  
  width: 900px;
  height: auto;
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
