.home {
  z-index: 100;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}


.topper {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.title {
  font-family: "Great Vibes", cursive;
  font-size: 5em;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  
}

.nav {
  margin-bottom: 20px;
}

.story {
  margin: 20px auto 0;
}

.imageSection {
  margin: 20px 0;
}

.thumnail {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1600px) {
  .home.container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .home h1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .img {
    width: 800px;
  }
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .home.container {
    width: calc(100% + 20px);
    margin: 0 -10px;
  }

  .home h1 {
    width: calc(100% + 20px);
    margin: 0 auto;
  }

  .img {
    width: 100%;
  }
}
