.home {
  position: relative;
  z-index: 100;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
}


.topper {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.title {
  font-family: "Great Vibes", cursive;
  font-size: 5em;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  
}

/* .nav {
  margin-bottom: 20px;
} */



.imageSection {
  margin: 20px 0;
}

/*Styles for larger screens*/

@media (min-width: 768px) {
  .home {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .home {
    max-width: 1000px;
  }
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .home h1 {
    width: calc(100% + 20px);
    margin: 0 auto;
  }

  .img {
    width: 100%;
  }
}
